@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
@if (this.Model.CourseName != null)
{
    <h1>@this.Model.CourseName</h1>
}
else
{
    <h1>Course Radio Plan</h1>
<p>Upload a file below from which the A4 sheet should be created.</p>

<form method="post" enctype="multipart/form-data">
    <input type="file" name="ExcelFile" />

<button type="submit">Submit</button>
</form>

}

