@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
    ViewData["ShowChrome"] = this.Model.RadioPlan == null;
}
@if (this.Model.RadioPlan != null)
{
    <style>

        body {
            line-height: 1;
            font-size: 8px;
        }

        table.radio-plan {
            width: 350px;
        }
    </style>
    @if (this.Model.RadioPlan.UseSVG)
    {
        <style>
            svg.radio-container {
                width: 20cm;
                height: 28.5cm;
            }
            rect.plan-placeholder {
                fill-opacity: 0;
                stroke: black;
                
            }
            foreignObject.plan-object {
            }
        </style>
        <svg class="radio-container" viewBox="0 0 2000 2850">
            <rect x="0" y="0" height="950" width="1000" class="plan-placeholder"></rect>
            <foreignObject x="0" y="0" height="950" width="1000" class="plan-object plan-object-1">
                <style>

                    .plan-object-1 table.radio-plan {
                        width: 500px;
                        font-size: 12px;
                        transform: rotateZ(-90deg) scale(0.715, 0.715) translateY(-150px) translateX(22px);
                    }
                </style>
                @await Html.PartialAsync("~/Views/Home/RadioPlan.cshtml", this.Model.RadioPlan)
            </foreignObject>
            <foreignObject x="1000" y="0" height="950" width="1000" class="plan-object plan-object-2">
                <style>

                    .plan-object-2 table.radio-plan {
                        width: 500px;
                        font-size: 12px;
                        transform: rotateZ(-90deg) scale(0.715, 0.715) translateY(-1025px) translateX(22px);
                    }
                </style>
                @await Html.PartialAsync("~/Views/Home/RadioPlan.cshtml", this.Model.RadioPlan)
            </foreignObject>
            <rect x="1000" y="0" height="950" width="1000" class="plan-placeholder"></rect>


            <rect x="0" y="950" height="950" width="1000" class="plan-placeholder"></rect>
            <foreignObject x="0" y="950" height="950" width="1000" class="plan-object plan-object-3">
                <style>

                    .plan-object-3 table.radio-plan {
                        width: 500px;
                        font-size: 12px;
                        transform: rotateZ(-90deg) scale(0.715, 0.715) translateY(-150px) translateX(848px);
                    }
                </style>
                @await Html.PartialAsync("~/Views/Home/RadioPlan.cshtml", this.Model.RadioPlan)
            </foreignObject>
            <foreignObject x="1000" y="950" height="950" width="1000" class="plan-object plan-object-4">
                <style>

                    .plan-object-4 table.radio-plan {
                        width: 500px;
                        font-size: 12px;
                        transform: rotateZ(-90deg) scale(0.715, 0.715) translateY(-1025px) translateX(848px);
                    }
                </style>
                @await Html.PartialAsync("~/Views/Home/RadioPlan.cshtml", this.Model.RadioPlan)
            </foreignObject>
            <rect x="1000" y="950" height="950" width="1000" class="plan-placeholder"></rect>
        </svg>
    }
    else
    {
        <div class="container">
            <div class="row">
                <div class="col-md-4">@await Html.PartialAsync("~/Views/Home/RadioPlan.cshtml", this.Model.RadioPlan)</div>
                <div class="col-md-4">@await Html.PartialAsync("~/Views/Home/RadioPlan.cshtml", this.Model.RadioPlan)</div>
                <div class="col-md-4">@await Html.PartialAsync("~/Views/Home/RadioPlan.cshtml", this.Model.RadioPlan)</div>
            </div>
            <div class="row">
                <div class="col-md-4">@await Html.PartialAsync("~/Views/Home/RadioPlan.cshtml", this.Model.RadioPlan)</div>
                <div class="col-md-4">@await Html.PartialAsync("~/Views/Home/RadioPlan.cshtml", this.Model.RadioPlan)</div>
                <div class="col-md-4">@await Html.PartialAsync("~/Views/Home/RadioPlan.cshtml", this.Model.RadioPlan)</div>
            </div>
        </div>
        }
    }
else
{
    <h1>Course Radio Plan</h1>
    <p>Upload a file below from which the A4 sheet should be created.</p>

    <form method="post" enctype="multipart/form-data">
        <input type="file" name="ExcelFile" />

        <button type="submit">Submit</button>
    </form>

}

