@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
@if (this.Model.RadioPlan != null)
{

    @if (this.Model.RadioPlan.Channels != null && this.Model.RadioPlan.CourseName != null &&
     this.Model.RadioPlan.Radios != null)
    {
        <table>
            <thead>
                <tr>
                    <th colspan="@(this.Model.RadioPlan.IdentifyingColumNumber + 1)">@this.Model.RadioPlan.CourseName</th>
                    @foreach (var c in this.Model.RadioPlan.Channels)
                    {
                        <th>@c.Type</th>
                    }
                </tr>
                <tr>
                    <th>IIII</th>
                    @if (this.Model.RadioPlan.IdentifyingColumNumber >= 3)
                    {
                        <th>Nom</th>
                    }
                    @if (this.Model.RadioPlan.IdentifyingColumNumber >= 2)
                    {
                        <th>Fonction</th>
                    }
                    <th>Indicatif</th>
                    @foreach (var c in this.Model.RadioPlan.Channels)
                    {
                        <th>@c.Number</th>
                    }
                </tr>
            </thead>
        </table>
    }
}
else
{
    <h1>Course Radio Plan</h1>
<p>Upload a file below from which the A4 sheet should be created.</p>

<form method="post" enctype="multipart/form-data">
    <input type="file" name="ExcelFile" />

<button type="submit">Submit</button>
</form>

}

