@{
    ViewData["Title"] = "Home Page";
}

<h1>Course Radio Plan</h1>
<p>Upload a file below from which the A4 sheet should be created.</p>

<form method="post">
    <input type="file" name="ExcelFile" />

<button type="submit">Submit</button>
</form>
